@charset "utf-8";

*{
    margin:0 ;
    padding: 0 ;
}
html,body{
    width: 100%;
    overflow-x: hidden;
    font-family:sans-serif;
}

ul,li,dl,dt,dd{
    list-style:none;
}
img{
    border: none;
}
input{
    border: none;
}
a,a:active,a:visited,a:target{
    text-decoration: none;
    text-underline: none;
    color: #fb7299;
}
/*全局样式完结*/
/*    header  */
.header{
    height:1.3rem;
}
.header h1{
    padding: 0  0.5rem;
    width: 100%;
    float: left;
    font-size:0.6rem;
    height: 1.3rem;
    line-height: 1.3rem;
    color: #fb7299;
    margin-right:1.5rem;
}
.header  a{
    display: inline-block;
    height: 1.1rem;
    line-height: 1.3rem;
    font-size: 0.45rem;
    width: 1.4rem;
    color: #6f6f6f;
    text-align: center;
}
.bg{
    color: #fb7299;
    border-bottom:0.07rem solid  #fb7299;
}
.header a.first{
    margin-left: 1.2rem;
}

/*    banner    */
.swiper-container {
    width:100%;
    height:3.14rem;
    margin: 0 auto;
}
.swiper-container .swiper-wrapper .swiper-slide img{
    width: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 0.16rem;
    background: #fff;
    width: 100%;
    height: 100%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*    notice   */
.notice{
    padding-left:0.2rem;
    width: 100%;
    padding-top:0.5rem ;
    padding-bottom: 0.5rem;
    background-color: #f6f6f6;
    line-height: 1.6rem;
    overflow: hidden;
}
.noticeInner span{
    margin-left: 0.3rem;
    float: left;
    margin-top: 0.25rem;
    margin-right: 0.3rem;
    width: 0.55rem;
    height: 0.55rem;
    background: url("../images/public.png")no-repeat;
    background-size: contain;
}
.noticeInner p{
    font-weight: 600;
    font-size: 0.38rem;
    color: #fb7299;
    border-radius:1rem;
    width: 95%;
    background-color: #fff;
    border: 0.01rem solid #e5e5e5 ;
}
.noticeInner{
    line-height: 0.98rem;
    height: 0.98rem;
    margin: 0 auto ;
}

/*   主编推荐   */
.tj{
    height: 9.58rem;
    width: 100%;
    margin: 0 auto;
}
.tj p{
    font-weight: 600;
    width: 9.45rem;
   /* height: 1.15rem;*/
    line-height: 1.15rem;
    margin: 0 auto ;
    font-size: 0.407rem;
    color: #1b1b1b;
}
.tj span{
    margin-left: 0.3rem;
    float: left;
    margin-top: 0.25rem;
    margin-right: 0.3rem;
    width: 0.55rem;
    height: 0.55rem;
    background: url("../images/people.png")no-repeat;
    background-size: contain;
}
.tj div{
    float: left;
    width: 4.53rem;
    height: 3.7rem;
    margin-left:3.3%;
}
.tj div p{
    font-weight: 600;
   font-size: 0.33rem;
    color: #1b1b1b;
    line-height: 0.86rem;

}
.tj div img{
    height:2.7rem;
}
.tj .more{
    margin-top: 0.2rem;
    float: left;
    margin-left: 40%;
    display:block;
    width: auto;
    text-align: center;
    font-size: 0.33rem;
    color: #f48fb3;
    height: 0.5rem;
}
.tj .more b{
    margin-left: 0.2rem;
    display: block;
    float: right;
    width: 0.41rem;
    height: 0.41rem;
    background: url("../images/more.png")no-repeat;
    background-size: contain;
}

/*  推荐下广告  */
.gg{
    width: 100%;
    height: 3.2rem;
    background-color: #f6f6f6;
    padding-top: 0.39rem;
}
.gg .ggInner{
    height: 3rem;
    background-color: #ffffff;
    margin: 0 auto ;
}
.gg .ggInner img{
    width: 94.4%;
    height: 2.26rem;
    margin: 0.41rem  0.25rem;
}


/*  独家推荐   */
.djtj{
    width: 100%;
    height: 10.1rem;
    background-color:#fff;

}
.djtj  p{
    font-weight: 600;
    font-size: 0.40rem;
}
.djtj span{
    margin-left: 0.3rem;
    float: left;
    margin-top: 0.25rem;
    margin-right: 0.3rem;
    width: 0.55rem;
    height: 0.55rem;
    background: url("../images/tj.png")no-repeat;
    background-size: contain;
}
.djtj div.one{
    width: 9.452rem;
    height: 2.12rem;
    margin-left: 0.15rem ;
    margin-top: 0rem;
}

.djtj div{
    position: relative;
    width: 9.452rem;
    height: 2.12rem;
    margin-left: 0.15rem ;
    margin-top: 0.3rem;
}
.djtj div img{
    width: 3.5rem;
    height: 2.12rem;
}
.djtj .line{
    display: block;
    height: 0.01rem;
    width: 9.44rem ;
    border:0.01rem solid #e5e5e5 ;
}
.djtj div dl{
    font-weight: 600;
    position: absolute;
    left: 3.75rem;
    top: 0 ;
    width: 5.6rem;
    height: 1.55rem;
    line-height: 0.6rem;
}

.djtj div dl dt{
    font-size:0.33rem;
    color: #1b1b1b;
}
.djtj div dl dd{
    font-size:0.3rem;
    color: #8e8e8e;
    line-height: 0.4rem;
    font-weight: 100;
}

/*   完结精品 */
.finish span{
    margin-left: 0.3rem;
    float: left;
    margin-top: 0.25rem;
    margin-right: 0.3rem;
    width: 0.55rem;
    height: 0.55rem;
    background: url("../images/finish.png")no-repeat;
    background-size: contain;
}
.finish{
    height: 12.3rem;
}
.finish div{
    width: 3.11rem;
    height:4.92rem ;
    margin: 0;
    float: left;
    padding: 0 0.1rem;
}
.finish div img{
    margin-left: 0.2rem;
    width: 2.46rem;
    height:3.46rem;
}
.finish div p{
    width: 2.46rem;
    font-size: 0.33rem;
    color: #1b1b1b;
    line-height: 0.46rem;
    font-weight: 600;
}
.finish div em{
    display: block;
    width: 2.46rem;
    font-size: 0.3rem;
    color: #8e8e8e;
    line-height: 0.5rem;
    font-style: inherit;
    margin-left: 0.3rem;

}

/*<!--明星作家推荐-->*/
.start p{
    font-weight: 600;
    width: 9.45rem;
    /*height: 1.15rem;*/
    line-height: 1.15rem;
    margin: 0 auto ;
    font-size: 0.407rem;
    color: #1b1b1b;
}
.start span{
    margin-left: 0.3rem;
    float: left;
    margin-top: 0.25rem;
    margin-right: 0.3rem;
    width: 0.55rem;
    height: 0.55rem;
    background: url("../images/like.png")no-repeat;
    background-size: contain;
}
div.ggInner.start img{
    margin: 0 0.25rem;
}
div.ggInner.start{
    height: 4.8rem;
}
section.gg.start{
    height: 4.8rem;
}
div.ggInner.start .more{
    margin-top: 0.2rem;
    float: left;
    margin-left: 30%;
    display:block;
    width: auto;
    height: 0.99rem;
    text-align: center;
    font-size: 0.33rem;
    color: #f48fb3;
}
div.ggInner.start .more b{
    margin-left: 0.2rem;
    display: block;
    float: right;
    width: 0.41rem;
    height: 0.41rem;
    margin-top: -0.02rem;
    background: url("../images/more.png")no-repeat;
    background-size: contain;
}


/*  猜你喜欢  */
.guess:before{
    content:"";
    clear: both;
}
.container{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    height: 7rem;
    background-color: #f6f6f6;
}

.guess{
    height: 6.8rem;
    background-color: #ffffff;
}
.guess  span{
    margin-left: 0.3rem;
    float: left;
    margin-top: 0.25rem;
    margin-right: 0.3rem;
    width: 0.55rem;
    height: 0.55rem;
    background: url("../images/heart.png")no-repeat;
    background-size: contain;
}
.guess i{
    float: right;
    font-size: 0.33rem;
    color: #b0b0b0;
    font-weight: 200;
    font-style: inherit;
}
.guess  em.pan{
    margin-left: 0.3rem;
    float: right;
    margin-top: 0.25rem;
    margin-right: 0.3rem;
    width: 0.55rem;
    height: 0.55rem;
    background: url("../images/setting.png")no-repeat;
    background-size: contain;
}
.guess div{
    width: 3.05rem;
    height: 5rem;
    float: left;
    padding-left: 0.2rem;
    margin-left: 0;
}
.guess div img{
    width: 2.46rem;
    height: 3.47rem;
    padding-left: 0.1rem;
}
.guess div p{
    width: 2.46rem;
    font-size: 0.33rem;
    color: #1b1b1b;
    line-height: 0.46rem;
    font-weight: 600;
}
.guess div em{
    display: block;
    width: 2.46rem;
    font-size: 0.3rem;
    color: #8e8e8e;
    line-height: 0.5rem;
    font-style: inherit;
    margin-left: 0.3rem;
}
.guess .more{
    margin-top: 0;
}
.guess .more b{
    margin-left: 0.2rem;
    display: block;
    float: right;
    width: 0.41rem;
    height: 0.41rem;
    margin-top: -0.02rem;
    background: url("../images/lookmore.png")no-repeat;
    background-size: contain;
}

/*   底部导航栏  */
.footer{
    height: 1.29rem;
}
.footer ul{
    width: 9.44rem;
    height: 1.32rem;
    margin: 0 auto ;
}
.footer ul li{
    text-align: center;
    float: left;
    width: 2.24rem;
    height: 1.29rem;
}
.footer ul li p{
    width: 2.24rem;
    text-align: center;
    height: 0.5rem;
    font-size: 0.3rem;
    color: #8d8d8d;
}
.footer ul li span{
    text-align: center;
    margin-top: 0.2rem;
    width: 0.6rem;
    height: 0.56rem;
    display: inline-block;
    background: url("../images/bottomicon.png")no-repeat;
    background-size: cover;
}
.footer ul li span.shouye{
    background-position: 0.1rem 0 ;
}
.footer ul li span.xiangguo{
    background-position: -1rem 0 ;
}
.footer ul li span.shujia{
    background-position: -2.2rem 0 ;
}
.footer ul li span.me{
    background-position:-3.68rem 0 ;
}
.on{
    color:#f48fb3;
}

/*    page2 第二页新增样式      */
/*   .page2_contain   */
.page2_contain{
    height: 14.6rem;
    background-color: #f6f6f6;
    padding: 0.59rem 0.57rem 0rem;
    width: 100%;
}
.page2_contain .inner{
    width: 105%;
    height: 100%;
}
.page2_contain ul li {
    float: left;
    width: 2.36rem;
    height: 3.22rem;
    margin-right: 0.89rem;
}
.page2_contain ul li img{
    width:2.36rem;
    height: 2.08rem;
}
.page2_contain ul li p{
    text-align: center;
    color: #6f6f6f;font-size: 0.33rem ;
    line-height: 1rem;
}

/*   page3  第三页新增样式  */
.page3{
    background-color: #f6f6f6;
}
/* page3_header  */
.page3_header{
    padding:0 0.27rem;
    height: 1.33rem;
    background-color: #ffffff;
    margin-top: 0.53rem;
    margin-bottom: 0.2rem;
}
.page3_header p{
    position: relative;
    text-align: center;
    line-height: 1.33rem;
    font-size:0.49rem ;
    color: #6F6F6F;
    font-weight: 600;
}
.page3_header span{
    position: absolute;
    top: 0.46rem;
    left: 0;
    width: 0.57rem;
    height: 0.37rem;
    background: url("../images/page3icon.png")no-repeat;
    background-size: cover;
}

/*.page3_container*/
.page3_container{
    margin-top: 0.2rem;
    overflow: hidden;
    height: 8.74rem;
    width: 100%;
    background: #ffffff;
    margin-bottom: 0.2rem;
}
.page3_container p{
    position: relative;
    padding-top: 0.46rem;
    color: #1B1B1B;
    font-size:0.407rem;
    margin-left: 0.90rem;
    margin-bottom: 0.29rem;
    font-weight: 600;
}
.page3_container p span{
    position:absolute;
    left: -0.6rem;
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    background: url("../images/page3icon.png")no-repeat -0.78rem 0 ;
    background-size: cover;
}
.page3_container ul{
    padding-left: 0.27rem;
    width: 120%;

}
.page3_container ul li{
    float: left;
    width:4.537rem;
    height:3.703rem;
    margin-right: 0.37rem;
}
.page3_container ul li img{
    width:4.537rem;
    height:2.87rem;
}
.page3_container ul li p{
    width:4.537rem;
    line-height: 0rem;
    text-align: left;
    color: #1B1B1B;
    font-size: 0.33rem;
    margin: 0;
    font-weight: 600;
}

/*.page3_container   finish     */
.page3_container.finish {
    height: 6.12rem;
    margin-bottom: 0.2rem;
}
.page3_container.finish span{
    margin-left:0rem;
    float: inherit;
    margin-top:0rem;
    display: block;
    width: 0.48rem;
    height: 0.48rem;
    background: url("../images/page3icon.png")no-repeat -1.76rem 0 ;
    background-size: cover;
}
.page3_container.finish i{
    position: absolute;
    right: 1.5rem;
    display: inline-block;
    width: 0.43rem;
    height: 0.43rem;
    background: url("../images/page3icon.png")no-repeat -2.3rem 0 ;
    background-size: cover;
}
.page3_container.finish em{
    position: absolute;
    right: 0.23rem;
    font-style: inherit;
    font-size:0.37rem ;
    color: #B3B3B3;
    font-weight: 500;
}
.page3_container.finish ul li{
    height: 5.01rem;
    width: 2.48rem;
    float: left;
    margin-right: 0.72rem;
}
.page3_container.finish ul li img{
    height:3.48rem;
    width: 2.48rem;
}
.page3_container.finish ul li p{
    width: 2.48rem;
    height: 1.53rem;
    line-height: 0.4rem;
    text-align: left;
    color: #1B1B1B;
    font-size: 0.33rem;
    margin: 0;
    font-weight: 600;
    padding-top: 0.27rem;
}
/*.page3_choose*/
.page3_container.choose {
    height: 12rem;
}
.page3_container.choose span{
    display: block;
    width: 0.48rem;
    height: 0.48rem;
    background: url("../images/page3icon.png")no-repeat -3.42rem 0 ;
    background-size: cover;
}
.page3_container.choose i{
    position: absolute;
    right: 1.2rem;
    display: inline-block;
    width: 0.43rem;
    height: 0.43rem;
    background: url("../images/page3icon.png")no-repeat -3.84rem 0 ;
    background-size: cover;
}
.page3_container.choose em{
    position: absolute;
    right: 0.4rem;
    font-style: inherit;
    font-size:0.37rem ;
    color: #B3B3B3;
    font-weight: 100;
}
.page3_container.choose ul li{
    position: relative;
    float: none;
    height: 3.01rem;
    width: 8.925rem;
    margin-left: 0.37rem;
}
.page3_container.choose ul li img{
    display: block;
    height:3.018rem;
    width: 2.148rem;
}
.page3_container.choose ul li dl{
    position: absolute;
    top: 0;
    left:2.518rem;
    width: 6.4rem;
    height: 1.22rem;
    line-height: 0.4rem;
    text-align: left;
    color: #1B1B1B;
    font-size: 0.33rem;
    margin: 0;
    font-weight: 500;
    padding-top: 0.27rem;
}

.page3_container.choose ul .line{
    margin: 0.185rem 0 ;
    width: 9.47rem;
    border:0.01rem solid  #e5e5e5;
}
.page3_container.choose ul li dl dt{
    position: relative;
    font-size: 0.3333rem;
    color: #1b1b1b;
    font-weight: 600;
}
.page3_container.choose ul li dl dt span{
    display: inline-block;
    font-size: 0.3333rem;
    color: #1b1b1b;
    font-weight: 600;
    width: auto;
    background: inherit;
    margin-right: 0.28rem;
}
.page3_container.choose ul li dl dt i{
    position: absolute;
    right: auto;
    display: inline-block;
    font-style: inherit;
    background-image: none;
    width:1.3rem;
    height: 0.426rem;
    background-color: #f6f6f6;
    -webkit-border-radius: 0.42rem ;
    -moz-border-radius: 0.42rem ;
    border-radius: 0.42rem ;
    text-align: center;
    font-size: 0.259rem;
    color: #8e8e8e;
    font-weight: 300;
}
.page3_container.choose ul li dl dd{
    line-height: 0.5rem;
    color: #8e8e8e;
    font-size: 0.3148rem;
}
.page3_container.choose ul li dl dd i{
    display: inline-block;
    font-style: inherit;
    text-align: center;
    font-size: 0.314rem;
    color: #5a5a5a;
    background: none;
    width: auto;
    position: inherit;
}

/*   page4  第四页新增样式  */
.page4{
    background-color: #f6f6f6;
}
/* page4_header  */
.page4_header {
    padding: 0 0.27rem;
    height: 1.33rem;
    background-color: #ffffff;
    margin-top: 0.53rem;
    margin-bottom: 0.05rem;
}

.page4_body header {
    padding-left: 0.2595rem;
    line-height: 0.888rem;
    width: 100%;
    height: 0.888rem;
    font-size: 0.333rem;
    color: #8E8E8E;
}

.page4_body header span {
    color: #F490B3;
}

.page4_header p {
    position: relative;
    text-align: center;
    line-height: 1.33rem;
    font-size: 0.49rem;
    color: #6F6F6F;
    font-weight: 600;
}

.page4_header span {
    position: absolute;
    top: 0.46rem;
    left: 0;
    width: 0.57rem;
    height: 0.37rem;
    background: url("../images/page3icon.png") no-repeat;
    background-size: cover;
}

/*.page4_container*/
.page4_container {
    overflow: hidden;
    height: 5.9rem;
    width: 100%;
    background: #ffffff;
    margin-bottom: 0.2rem;
}

.page4_container p {
    position: relative;
    padding-top: 0.43rem;
    color: #1B1B1B;
    font-size: 0.407rem;
    margin-left: 0.90rem;
    margin-bottom: 0.35rem;
    font-weight: 600;
}

.page4_container p span {
    position: absolute;
    left: -0.6rem;
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    background: url("../images/page3icon.png") no-repeat -0.78rem 0;
    background-size: cover;
}

.page4_container i {
    position: absolute;
    right: 1.2rem;
    display: inline-block;
    width: 0.43rem;
    height: 0.43rem;
    background: url("../images/page3icon.png") no-repeat -3.84rem 0;
    background-size: cover;
}

.page4_container em {
    position: absolute;
    right: 0.4rem;
    font-style: inherit;
    font-size: 0.37rem;
    color: #B3B3B3;
    font-weight: 100;
}

.page4_container ul {
    padding: 0 0.27rem;
}

.page4_container ul li {
    line-height: 1.15686rem;
    width: 105%;
    height: 1.15686rem;
    border-top: 0.02rem solid #e5e5e5;
}

.page4_container ul li span {
    margin-top: 0.21568rem;
    display: inline-block;
    float: left;
    width: 1.1481rem;
    height: 0.685rem;
    line-height: 0.72549rem;
    text-align: center;
    border: 0.01rem solid #F48FB3;
    border-radius: 0.15rem;
    font-size: 0.333rem;
    color: #F48FB3;
    margin-right: 0.3137rem;
}

.page4_container ul li a {
    display: inline-block;
    font-size: 0.33rem;
    color: #1B1B1B;
    margin-right: 0.34rem;
    cursor: pointer;
}

/*.page4_body*/
.page4_body {
    overflow: hidden;
    height: 15.1111rem;
    width: 100%;
    background: #ffffff;
    margin-bottom: 0.2rem;
}

.page4_body p {
    position: relative;
    padding-top: 0.46rem;
    color: #1B1B1B;
    font-size: 0.407rem;
    margin-left: 0.90rem;
    margin-bottom: 0.29rem;
    font-weight: 600;
}

.page4_body p span {
    position: absolute;
    left: -0.6rem;
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    background: url("../images/page3icon.png") no-repeat -0.78rem 0;
    background-size: cover;
}

.page4_body ul {
    padding-left: 0.27rem;
    width: 120%;

}

.page4_body ul li {
    float: left;
    width: 4.537rem;
    height: 3.703rem;
    margin-right: 0.37rem;
}

.page4_body ul li img {
    width: 4.537rem;
    height: 2.87rem;
}

.page4_body ul li p {
    width: 4.537rem;
    line-height: 0rem;
    text-align: left;
    color: #1B1B1B;
    font-size: 0.33rem;
    margin: 0;
    font-weight: 600;
}

.page4_body ul li {
    position: relative;
    float: none;
    height: 3.01rem;
    width: 8.925rem;
}

.page4_body ul li img {
    display: block;
    height: 3.018rem;
    width: 2.148rem;
}

.page4_body ul li dl {
    position: absolute;
    top: 0;
    left: 2.518rem;
    width: 6.4rem;
    height: 1.22rem;
    line-height: 0.4rem;
    text-align: left;
    color: #1B1B1B;
    font-size: 0.33rem;
    margin: 0;
    font-weight: 500;
    padding-top: 0.27rem;
}

.page4_body .line {
    margin: 0.185rem 0;
    width: 9.47rem;
    border: 0.01rem solid #e5e5e5;
}

.page4_body ul li dl dt {
    position: relative;
    font-size: 0.3333rem;
    color: #1b1b1b;
    font-weight: 600;
}

.page4_body ul li dl dt span {
    display: inline-block;
    font-size: 0.3333rem;
    color: #1b1b1b;
    font-weight: 600;
    width: auto;
    background: inherit;
    margin-right: 0.28rem;
}

.page4_body ul li dl dt i {
    position: absolute;
    right: auto;
    display: inline-block;
    font-style: inherit;
    background-image: none;
    width: 1.3rem;
    height: 0.426rem;
    background-color: #f6f6f6;
    -webkit-border-radius: 0.42rem;
    -moz-border-radius: 0.42rem;
    border-radius: 0.42rem;
    text-align: center;
    font-size: 0.259rem;
    color: #8e8e8e;
    font-weight: 300;
}

.page4_body ul li dl dd {
    line-height: 0.5rem;
    color: #8e8e8e;
    font-size: 0.3148rem;
}

.page4_body ul li dl dd i {
    display: inline-block;
    font-style: inherit;
    text-align: center;
    font-size: 0.314rem;
    color: #5a5a5a;
    background: none;
    width: auto;
    position: inherit;
}
/*    page5  */
.page5_body{
    height: 14.68rem;
    background: #f6f6f6;
    padding: 0.296rem 0.296rem 0 0.296rem ;
}
.page5_body ul li {
    position: relative;
    width: 9.46296rem;
    height: 3.3888rem;
    margin-bottom: 0.1666rem;
}
.page5_body ul li img{
    width: 9.46296rem;
    height: 3.3888rem;
}
.page5_body ul li dl{
    position: absolute;
    left: 0.3148rem;
    bottom: 0.4259rem;
    width: 8.889rem;
    height: 1rem;
    color: #fff;
    line-height: 0.5rem;
}
.page5_body ul li dl dt{
    font-size:0.333rem ;
}
.page5_body ul li dl dd{
    font-size: 0.272rem;
}

/*page6_nav*/
.page6 {
    background: #f6f6f6;
}
.page4_header.page6{
    padding:0 0.27rem;
    height: 1.33rem;
    background-color: #ffffff;
    margin-top: 0rem;
    margin-bottom: 0.05rem;
}
.page4_body .page6_header{
    height: 0.296rem;
}
.page6_nav{
    width: 10rem;
    height: 1.15rem;
    background-color: #fff;
    margin-bottom: 0.185rem ;
}
.page6_nav ul{
    width: 8.083rem;
    height: 1.185rem;
    margin: 0 auto;
}
.page6_nav ul li{
    text-align: center;
    font-size: 0.407rem;
    line-height:1rem ;
    width:1.407rem;
    height: 1rem;
    display: inline;
}
.page6_nav ul li.middle{
    margin-left: 30%;
}
.page6_nav ul li.on{
    color: #fb7299;
    border-bottom: 0.1rem solid #fb7299;
}
.page6_nav ul li.left{
    float: left;
}
.page6_nav ul li.right{
    float: right;
}

.page6_one,.page6_two,.page6_three{
    position: absolute;
    top: 0.12rem;
    left:1.72rem;
    width: 0.423rem;
    height: 0.37rem;
    display: block;
    background: url("../images/page6_icon.png")no-repeat;
    background-size: cover;
}
.page6_one{
    background-position: 0 0 ;
}
.page6_two{
    background-position: 0 -0.56rem ;
}
.page6_three{
    background-position: 0 -1.1rem ;
}

/*   page7   */
.page4_header span.page7_fenxiang{
    position: absolute;
    top: 0.46rem;
    right: 0;
    left: inherit;
    width: 0.4rem;
    height: 0.4rem;
    background: url("../images/page7_fenxiang.png")no-repeat;
    background-size: cover;
}


/*   page8  */

.page8_body{
    width: 100%;
    height: 9.255rem;
    background-color: #f6f6f6;
}
.page8_body.page17{
    height: 6.29rem;
}
.page8_body.page17 p{
    height: 6.07rem;
}
.page8_body p{
    width: 100%;
    height: 9.07rem;
    background-color: #fff;
    color: #000;
    line-height: 0.418rem;
}
.page8_body p img{
    width: 100%;
    display: block;
    height: 3.35rem;
}
.page8_body p i,.page8_body p span{
    display: block;
    font-style: inherit;
    margin: 0.537rem;
    margin-bottom:0rem;
}
.page8_body p span{
    margin-top:0rem;
    font-size: 0.27rem;
    color: #d4d4d4;

}
.page8_body p i{
    font-size: 0.333rem;
    font-weight: 600;
}
.page8_jieshao{
    width: 100%;
    height: 3.5833rem;
    background-color: #f6f6f6;
}
.page8_jieshao div{
    position: relative;
    width: 100%;
    height: 3.3833rem;
    background-color: #fff;
}
.page8_jieshao div img{
    position: absolute;
    width:1.944rem;
    height: 2.657rem;
    top: 0.3703rem;
    left: 0.56rem;
}
.page8_jieshao div p{
    position: absolute;
    width:2.537rem;
    height: 2.657rem;
    top: 0.3703rem;
    left: 2.7407rem;
    line-height: 0.46rem;
    padding-top: 0.25rem;
}
.page8_jieshao div p i,.page8_jieshao div p em,.page8_jieshao div p span{
    display:block;
    font-style: inherit;
}
.page8_jieshao div p i{
    font-size: 0.33rem;
    color: #1b1b1b;
    font-weight: 600;
}
.page8_jieshao div p em{
    font-size: 0.3148rem;
    color: #5a5a5a;
}
.page8_jieshao div p span{
    font-size: 0.3148rem;
    color: #8e8e8e;
}
.page8_jieshao div p strong{
    padding-left: 0.417rem;
    position: absolute;
    width:1.38rem;
    height: 0.426rem;
    top: 0rem;
    right: -5rem;
    font-size: 0.389rem;
    color: #f48fb3;
    font-weight:300;

}
.page8_jieshao div p strong i{
    position: absolute;
    width: 0.42rem;
    height:0.417rem ;
    left: 0;
    top: 0;
    background: url("../images/page3icon.png")no-repeat;
    background-size: cover;
    background-position: -4.19rem 0 ;
}
.page8_zhuanfang{
    width: 100%;
    height: 3.907rem;
    background-color: #f6f6f6;
}
.page8_zhuanfang div{
    height: 3.695rem;
    background-color: #fff;
}


.page8_zhuanfang div p{
    font-weight: 600;
    width: 9.45rem;
    height: 0.9rem;
    line-height: 1.15rem;
    font-size: 0.407rem;
    color: #1b1b1b;
}
.page8_zhuanfang div span{
    margin-left: 0.3rem;
    float: left;
    margin-top: 0.25rem;
    margin-right: 0.3rem;
    width: 0.55rem;
    height: 0.55rem;
    background: url("../images/page3icon.png")no-repeat;
    background-position: -6.1rem 0 ;
    background-size: cover;
}
.page8_zhuanfang div ul li{
    width: 6.89rem;
    height: 0.5rem;
    line-height: 0.6rem;
    margin-left: 0.56rem;
    color:#5a5a5a ;
    font-size: 0.34rem;
}

.wanjie p span{
    margin-left: 0.3rem;
    float: left;
    margin-top: 0.25rem;
    margin-right: 0.3rem;
    width: 0.55rem;
    height: 0.55rem;
    background: url("../images/page3icon.png")no-repeat;
    background-position: -6.8rem 0 ;
    background-size: cover;
}
.wanjie{
    height: 6.84rem;
}
.wanjie p.biaoti{
    margin: inherit;
}
.wanjie .more{
    margin-top: 0rem;
    margin-left: 35%;
}

/*  page 9 */
.page9_container{
    height: 4.66rem;
    background-color: #f6f6f6;
}
.page9_container .inner{
    height: 4.407rem;
    background-color: #fff;
}

.page9_container .inner p span.fire,.page3_container.finish.page9 span.fire{
    width: 0.4rem;
    height:0.49rem;
    background: url("../images/page9_icon.png")no-repeat;
    background-position: 0 0 ;
    background-size: cover;
}
.page9_container .inner ul{
    width: 105%;
    padding: 0rem 0.6111rem;
}
.page9_container .inner ul li{
    color: #1b1b1b;
    font-size: 0.333rem;
    float: left;
    height: 0.83rem;
    line-height: 0.83rem;
    padding:0 0.55rem ;
    border: 0.01rem solid #edeced;
    border-radius: 1rem;
    margin-bottom: 0.185rem;
    margin-right: 0.23rem;
}
.page9_container .inner p {
    position: relative;
    padding-top: 0.46rem;
    color: #1B1B1B;
    font-size:0.407rem;
    margin-left: 0.90rem;
    margin-bottom: 0.29rem;
    font-weight: 600;
}
.page9_container .inner p span {
    position:absolute;
    left: -0.6rem;
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    background: url("../images/page3icon.png")no-repeat -0.78rem 0 ;
    background-size: cover;
}

.page3_container.finish.page9 {
    height: 6.52rem;
    margin-bottom: 0.2rem;
}
.page9_container .inner p i {
    position: absolute;
    right: 1.5rem;
    display: inline-block;
    width: 0.43rem;
    height: 0.43rem;
    background: url("../images/page3icon.png")no-repeat -2.3rem 0 ;
    background-size: cover;
}
.page9_container .inner p em{
    position: absolute;
    right: 0.23rem;
    font-style: inherit;
    font-size:0.37rem ;
    color: #B3B3B3;
    font-weight: 500;
}
.page3_container.finish.page9  ul li p{
    width: 2.48rem;
    height: auto;
    line-height: 0.4rem;
    text-align: left;
    color: #1B1B1B;
    font-size: 0.33rem;
    margin: 0;
    font-weight: 600;
    padding-top: 0.27rem;
}
.page3_container.finish.page9  ul li em{
    display: block;
    width: 2.46rem;
    font-size: 0.3rem;
    color: #8e8e8e;
    line-height: 0.5rem;
    font-style: inherit;
    /* margin-left: 0.3rem;*/
    position: inherit;
}

.page3_container.finish.before p i{
    background: url("../images/page9_icon.png")no-repeat;
    background-position: -0.39rem 0 ;
    background-size: cover;
}
.page3_container.finish.before p em{
    right: 0.7rem ;
}
.page3_container.finish.before ul{
    width:8.87rem ;
    margin: 0 auto;
}
.page3_container.finish.before ul li{
    position: relative;
    float: inherit;
    height: 0.96rem;
    width: 100%;
    border-bottom: 0.01rem solid #e5e5e5;
}
.page3_container.finish.before ul li span.left{
    position: absolute;
    width: 0.4rem;
    height: 0.45rem;
    bottom: 0.27rem;
    left: 0rem;
    background: url("../images/page9_icon.png")no-repeat;
    background-size: cover;
    background-position: -0.88rem 0 ;
}

.page3_container.finish.before ul li .middle{
    list-style: none;
    font-size: 0.333rem;
    color: #5a5a5a;
    font-weight: 100;
    padding-left: 0.5rem;
    line-height: 0.96rem;
    width: auto;
    height: auto;
    float: none;
    /*margin-right: -0.3rem;*/
}
.page3_container.finish.before ul li .middle span{
    display: inline-block;
    float: right;
    background: none;
    color: #5a5a5a;
}
.page3_container.finish.before{
    overflow: hidden;
    height: 8.74rem;
    width: 100%;
    background: #ffffff;
    margin-bottom: 0.2rem;
}

/*page10*/
.page10{
    background-color: #f6f6f6;
}
.page10_icon{
    height: 3.4537rem;
    background-color: #f6f6f6;
}
.page10_icon .inner{
    height: 3.222rem;
    background-color: #fff;
}
.page10_icon .inner ul{
    padding-left: 0.1rem;
    width: 102%;

}
.page10_icon .inner ul li{
    padding-top:0.259rem;
    float: left;
    width: 2.46rem;
    height: 3rem;

}
.page10_icon .inner ul li img{
    display: block;
    width: 2.037rem;
    height: 2.092rem;
    padding-left: 0.2rem;
}
.page10_icon .inner ul li p{
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.333rem;
    color: #1b1b1b;
}

.page4_container.page10{
    height: 1.111rem;
    margin-bottom: 0.01rem ;
    background-color: #fff;
}
.page4_container.page10 p{
    margin-left: 0.2rem;
}
.page4_container.page10 p a{
    position: inherit;
    left: 0;
    display: inline-block;
    width: 0.55rem;
    height: 0.4rem;
    background: url("../images/page9_icon.png") no-repeat -1.09rem 0;
    background-size: cover;
}

.page4_body.page10_content ul li dl dt span.on {
    color: #f48fb3;
    margin-right: 0rem;
}


/* page11 */
.page11html{
    background-color: #f6f6f6;
}
.page4_container.page11{
    margin-bottom: 0.02rem ;
}
.page4_container.page11 p{
    margin-left: 0.2rem;
}
.page4_container.page11 p a{
    position: inherit;
    left: 0;
    display: inline-block;
    width: 0.6rem;
    height: 0.4rem;
    background: url("../images/page9_icon.png") no-repeat -1.08rem 0;
    background-size: cover;
}

/*  page12  */
.page12_wb{
    padding-top:0.176rem ;
    height: 11.759rem;
    background-color: #f6f6f6;
}
.page12_wb p.page12_header{
    margin: inherit;
}
.page12_wb p span{
    background: url("../images/page3icon.png")no-repeat;
    background-position: -2.02rem -0.04rem ;
    background-size: cover;
}
.page12_wb section{
    height: 11.583rem;
    background-color: #fff;
}


/*  page 13 */
.page13_xm{
    padding-bottom:0.176rem ;
    height: 6.426rem;
    background-color: #f6f6f6;
}
.page13_xm p.page12_header{
    margin: inherit;
    font-weight: 500;
}
.page13_xm p span{
    background: url("../images/page3icon.png")no-repeat;
    background-position: -2.02rem -0.04rem ;
    background-size: cover;
}
.page13_xm section{
    height: 6.421rem;
    background-color: #fff;
}


/*  page14  */
.tj.djtj.page14{
    height: 12.13rem;
    background-color: #f6f6f6;
}
.page14 p.page12_header{
    margin: inherit;
    font-weight: 500;
}
.page14 p span{
    background-position: -2.02rem -0.04rem ;
    background-size: cover;
}
.page14 section{
    height: 11.85rem;
    background-color: #fff;
}

.djtj.page14 p span{
    margin-left: 0.3rem;
    float: left;
    margin-top: 0.25rem;
    margin-right: 0.3rem;
    width: 0.55rem;
    height: 0.55rem;
    background: url("../images/page3icon.png")no-repeat;
    background-size: cover;
    background-position: -2.02rem 0 ;
}


/*  page15  */

.page15{
    position: relative;
    margin-top: 8.85rem;
    height: 8.33rem;
    background-color: #f5f3ee;
}
.page15  .fx{
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0 ;
    color:#787878 ;
    height: 1.21rem;
    line-height: 1.21rem;
    text-align: center;
    font-size: 0.518rem;
}
.page15 .qx{
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0 ;
    color:#ec584e;
    height: 1.638rem;
    line-height: 1.638rem;
    text-align: center;
    font-size: 0.518rem;
}
.page15 .inner{
    width: 105%;
    position: absolute;
    top: 1.21rem;
    padding-left: 0.56rem;
    height: 3.327rem;
}
.page15 .inner li{
    width: 2.36rem;
    height: 2.768rem;
    float: left;
    margin-right: 0.6rem;
}
.page15 .inner li img{
    margin-left: 0.4rem;
    display: block;
    width:1.574rem ;
    height: 1.574rem;
}
.page15 .inner li p{
    text-align: center;
    color: #a3a49f;
    height:1.01rem ;
    line-height: 1rem;
}


    /*  page17  */
.page8_body.page17{
    height: 6.29rem;
}
.page8_body.page17 p{
    height: 6.07rem;
}
.page8_body.page17 p span{
    color: #000;
}

.page17_content{
    height: 10.24rem;
    background-color: #fff;
    padding: 0.407rem 0.273rem 0  0.273rem;
}
.page17_content div{
    margin-bottom: 0.38rem;
    padding-left: 0.273rem;
    padding-right: 0.273rem;
    position: relative;
    width: 9rem;
    height: 2.833rem;
    border-bottom: 0.01rem solid #e5e5e5;
}
.page17_content div img{
    display: block;
    position: absolute;
    top: 0;
    width: 1.944rem;
    height: 2.62rem;
}
.page17_content div p{
    padding-top: 0.3073rem;
    position: absolute;
    right: 0.57rem;
    width: 6.518rem;
    height: 3.055rem;
}
.page17_content div p span{
    display: block;
    line-height: 0.5rem;
}
.page17_content div p span.top{
   color: #1b1b1b;
    font-size:0.34rem ;
}
.page17_content div p span.zj{
    color: #5a5a5a;
    font-size:0.3148rem ;
}
.page17_content div p span.db{
    color: #8e8e8e;
    font-size:0.3148rem ;
}
.page17_content .more{
    float: left;
    margin-left: 30%;
    display:block;
    width: auto;
    text-align: center;
    font-size: 0.33rem;
    color: #f48fb3;
    height: 0.5rem;
    border: none;
}
.page17_content .more b{
    margin-left: 0.2rem;
    display: block;
    float: right;
    width: 0.41rem;
    height: 0.41rem;
    margin-top: -0.02rem;
    background: url("../images/more.png")no-repeat;
    background-size: contain;
}